{% extends "base.html" %}
{% load bootstrap5 %}

{% block body %}
<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{ detail.titre }}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='container'>
    <div class="row">
        <div class='col-lg-8 tach box'>
            {{detail.description}}

            <form  method="delete">
                {% csrf_token %}
                <input type="submit" value="Delete" />
            </form>

        </div>
    </div>
</div>

  
{% endblock body %}